{% extends "./layout.twig" %}

{% block content %}
  <h1 class="pb-5 pt-5 text-white">Contact</h1>


  <div class="jumbotron">
    <h1 class="display-4">Vladyslav Omelchenko</h1>
    <p class="lead">

      My name is Vladislav Omelchenko, I am a front-end developer, sometimes I also deal with databases. Yes, you correctly understood the foront-end which can be used as a base. For me, such a division into a front-end and a back-end is very strange, you cannot write at least a passable back-end if there is no understanding of how the front works, and you cannot write a front that will work more or less stably without knowledge of the back-end

    </p>

    <span class="display-5">My portfolio <a href="https://oekvlad.github.io/">oekvlad.github.io</a> <span class="badge badge-warning">now in alpha version</span></span>

    <hr class="my-4">



    <p>My social networks</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">faceBook <span class="badge badge-danger">no found 404</span></a>
    <a class="btn btn-primary btn-lg" href="#" role="button">twitter <span class="badge badge-danger">no found 404</span></a>
    <a class="btn btn-primary btn-lg" href="#" role="button">instagram <span class="badge badge-danger">no found 404</span></a>
    <a class="btn btn-primary btn-lg" href="#" role="button">linkedin <span class="badge badge-danger">no found 404</span></a>
    <a class="btn btn-primary btn-lg" href="mailto:vladysalvo@gmail.com" role="button">Email</a>
  </div>



{% endblock %}
