{% extends "./layout.twig" %}

{% block content %}
  <h1 class="cover-heading text-white">Error 404</h1>
  <p class="lead text-white">
    someone stole the page. I will try to find him, but I don’t obsess anything
  </p>
  <img src="https://i1.rozetka.ua/goods/13456849/112464770_images_13456849442.jpg"/>
  <p class="lead pt-3">
    <a href="/" class="btn btn-lg btn-secondary">HomePage</a>
  </p>
{% endblock %}