{% extends "./layout.twig" %}

{% block content %}
  <h1 class="cover-heading">Component list</h1>
  <div class="row">

    <div class="col-12 col-md-6">

      <div class="card" style="width: 18rem;">
        <img style="height: 128px; object-fit: contain;" src="https://media.nngroup.com/media/articles/opengraph_images/mobile-carousels.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #000;">Carousel</h5>
          <p class="card-text" style="color: #000;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/carousel" class="btn btn-primary">Example</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">

      <div class="card" style="width: 18rem;">
        <img style="height: 128px; object-fit: contain;" src="https://cdn.dribbble.com/users/883236/screenshots/8937499/day_981_accordion_ui_design_4x.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #000;">Accordion</h5>
          <p class="card-text" style="color: #000;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/accordion" class="btn btn-primary">Example</a>
        </div>
      </div>
    </div>

  </div>
{% endblock %}